footer {
    height: 100px;
    width: 100%;
    background-color: rgb(206, 228, 247);
   /* position:absolute; */
    bottom: 0;
}

@media only screen and (max-width: 600px) {
    
    footer {
      position: static;
    }
  }